html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title= `${page.title} • ${site.meta.title}`
    link(rel="stylesheet" href="/styles/styles.css")
  body
    .container
      .row
        .col-md-6
          a(href="/")
            h1.ah-logo
              span.ah-mandarian.hidden-xs
                | 賀瑋玲 
                span.ah-name Weiling He 
              | &amp;he Studio
        .col-md-6
          .ah-menu
            each p in site.pages.filter(p => p.schema === "article")
              a.ah-menu-item(href=p.uri class=`${p === page ? "active" : ""}`)= p.title
    block content
    .container
      .ah-footer
        .row
          .col-md-6.ah-copyright!= site.meta.footer
          .col-md-6
            .ah-menu
              each p in site.pages.filter(p => p.schema === "article")
                a.ah-menu-item(href=p.uri class=`${p === page ? "active" : ""}`)= p.title
