extends base.pug

block content
  .container.ah-banner
    .ah-slideshow
      each image in page.images
        .ah-slideshow-item(style=`background-image:url("${image.src}")`)
  .container
    .row.ah-section
      .col-sm-2.col-sm-offset-2
        h2 News
      .col-sm-8.col-md-6
        each news in site.pages.filter(p => p.schema === "news")
          .ah-news-item
            .row
              .col-sm-7
                h3!= news.title
                span.ah-date!= news.date
                div!= news.body
              .col-sm-5.hidden-xs
                each image in news.images
                  img(src=image.src)
                  span.ah-news-image-caption!= image.caption