extends base.pug

block content
  .container
    each item in site.pages.filter(p => p.schema === page.filterBy)
      a.ah-work-item(href=item.uri)
        .row
          .col-xs-12.col-sm-6
            .ah-work-thumbnail(style=`background-image:url("${item.images[0].src}")`)
          .col-xs-8.col-xs-offset-4.col-sm-offset-0.col-sm-6
            .ah-work-thumbnail-info
              h3!= item.title
              span.ah-date!= item.date
              p!= item.caption
      
        